.formBox {
 margin: 30px auto 20px;
}

.formBox form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.formBox input {
  width: 45%;
  height: 30px;
  font-size: 1.3rem;
  max-width: 250px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}




